@media(max-width: 1092px ){ 
	.main-content{
		
		.owl-dots-main{
			.owl-dot {
				height: auto;
			}
		}
	}

}

@media(max-width: 1200px ){
	#header{
		.phone-single{
			a{
				font-size: 22px;
			}
		}
		.contacts{
			text-align: right;
			padding-right: 0;
		}
		.category-list{
			text-align: center;
		}
	}

	#main-nav{
		.grid{
			@include columns((2,10));
		}
		.burger{
			display: block; 
		}
		.menu{
			display: none;
		}
	}
}

@media(max-width: 768px ){
	#header{
		.logo{
			img{
				margin: 0 auto;
			}
		}
		.phone-single{
			text-align: center;
		}
		.contacts{
			text-align: center;
			padding: 0 !important;
		}
		.category-list{
			text-align: center;
		}

		.loc-switcher{
			    max-width: 204px;
    margin: 0 auto;
		}
	}
}