/*
* Fonts
*/

@font-face {
    font-family: 'mr';
    src: url('../fonts/FontfabricMullerRegular.eot');
    src: url('../fonts/FontfabricMullerRegular.eot') format('embedded-opentype'),
         url('../fonts/FontfabricMullerRegular.woff2') format('woff2'),
         url('../fonts/FontfabricMullerRegular.woff') format('woff'),
         url('../fonts/FontfabricMullerRegular.ttf') format('truetype'),
         url('../fonts/FontfabricMullerRegular.svg#FontfabricMullerRegular') format('svg');
}


@font-face {
    font-family: 'ml';
    src: url('../fonts/MullerLight.eot');
    src: url('../fonts/MullerLight.eot') format('embedded-opentype'),
         url('../fonts/MullerLight.woff2') format('woff2'),
         url('../fonts/MullerLight.woff') format('woff'),
         url('../fonts/MullerLight.ttf') format('truetype'),
         url('../fonts/MullerLight.svg#MullerLight') format('svg');
}


@font-face {
    font-family: 'mi';
    src: url('../fonts/FontfabricMullerLightItalic.eot');
    src: url('../fonts/FontfabricMullerLightItalic.eot') format('embedded-opentype'),
         url('../fonts/FontfabricMullerLightItalic.woff2') format('woff2'),
         url('../fonts/FontfabricMullerLightItalic.woff') format('woff'),
         url('../fonts/FontfabricMullerLightItalic.ttf') format('truetype'),
         url('../fonts/FontfabricMullerLightItalic.svg#FontfabricMullerLightItalic') format('svg');
}


@font-face {
    font-family: 'mb';
    src: url('../fonts/FontfabricMullerBold.eot');
    src: url('../fonts/FontfabricMullerBold.eot') format('embedded-opentype'),
         url('../fonts/FontfabricMullerBold.woff2') format('woff2'),
         url('../fonts/FontfabricMullerBold.woff') format('woff'),
         url('../fonts/FontfabricMullerBold.ttf') format('truetype'),
         url('../fonts/FontfabricMullerBold.svg#FontfabricMullerBold') format('svg');
}


@font-face {
    font-family: 'mbi';
    src: url('../fonts/FontfabricMullerBoldItalic.eot');
    src: url('../fonts/FontfabricMullerBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/FontfabricMullerBoldItalic.woff2') format('woff2'),
         url('../fonts/FontfabricMullerBoldItalic.woff') format('woff'),
         url('../fonts/FontfabricMullerBoldItalic.ttf') format('truetype'),
         url('../fonts/FontfabricMullerBoldItalic.svg#FontfabricMullerBoldItalic') format('svg');
}
