 <a class="news-item">
            <div class="photo">
                <img src="img/news.png" alt="">
            </div>
            <div class="info">
                <span class="date">12.05.2017</span> <span class="name">Опасный астероид приблизится к Земле на рекордно близкое расстояние...»</span>
            </div>
        </a>