 <div class="product-item">
            <div class="left">
                <img src="img/product.png" alt="">
                <div class="buttons">
                    <a href="#" class="fast-order">Быстрый заказ</a>
                    <a href="#" class="readmore">Подробнее</a>
                </div>   
            </div>
            <div class="right">
                <p class="name">DIN 88888</p>
                <p class="desc">
                    Винт с полукруглой головкой, крестообразнымшпицем (Pz, Ph), полная резьба полная резьбаполная резьба
                </p>
                <div class="analogs">
                    <p>Аналоги:</p>
                    <ul>
                        <li>DIN 7985 ISO 7045 ГОСТ 17473</li>
                        <li>DIN 7985 ISO 7045 ГОСТ 17473</li>
                    </ul>
                </div>
                <div class="fields">
                    <p>Материал: </p>
                    <ul>
                        <li>Нержавеющая сталь</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- product-item -->