.reviews-wrapper {
    margin-bottom:  18px;
    .all-reviews {
        color: #026363;
        font-family: "ml";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: underline;
    }
    .review-list {
        @include columns(3, $flush-padding: true, $margin: 0 14px);
        margin-bottom: 15px;
        .review-item {
            .text {
                position: relative;
                max-width: 270px;
                min-height: 171px;
                border: 1px solid #e6e6e6;
                padding: 12px 18px;
                font-size: 14px;
                color: #31343b;
                font-family: 'mi';
                line-height: 16px;
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: -20px;
                    width: 18px;
                    height: 20px;
                    background: url(../img/review_corner.png) no-repeat;
                }
            }
            .info {
                padding-top: 12px;
                @include columns((3, 2));
                .photo {
                    img {
                        border-radius: 50%;
                    }
                }
                .name {
                    text-align: right;
                    padding-right: 16px;
                    color: #026363;
                    font-family: "mb";
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 14px;
                    span {
                        color: #31343b;
                        font-family: "ml";
                        font-size: 14px;
                        font-weight: 300;
                        text-transform: none;
                        line-height: 16px;
                        margin-top: 8px;
                        display: block;
                    }
                }
            }
        }

        @media(max-width: 853px){
        	 @include columns(1);

        	 .review-item{
        	 	margin-bottom: 15px;

        	 	.text{
        	 		width: 100%;
        	 		min-height: 0;
        	 		max-width: 100%;
        	 		height: auto;

        	 	}

        	 	.info{
        	 		    max-width: 270px;
    margin: 0 auto;
        	 	}
        	 }
        }
    }
}
