.news-list-wrapper{
	.news-list{
		@include columns((3), $margin: 15px);
		.news-item{
			display: block;
			.photo{
				float: left;
				padding-right: 14px;
			}
			span{
				display: block;
				&.date{
					color: #31343b;
					font-size: 10px;
				}
				&.name{
					font-size: 14px;
					color: #026363;
					line-height: 16px;
					text-decoration: underline;
				}
			}
		}
		@media(max-width:800px){
			@include columns((2), $margin: 15px);
		}

		@media(max-width:600px){
			@include columns((1), $margin: 15px);
		}
	}
}